@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&family=Tilt+Prism&display=swap');
*{
    padding: 0;
    box-sizing: border-box;
    box-sizing: border-box;
    transition: .5s all linear;
    scroll-behavior: smooth;
}
*::-webkit-scrollbar{
    width: 0;
}
body{
    overflow-x: hidden;
}